.menuresponsive {
  border: thick double #eee;

  nav {
    background: #EBF2FA;
    width: 100%;
  }

  a img {
    padding: 5px;
    padding-left: 20px;
  }

  nav ul {
    float: right;
    margin-right: 20px;
  }

  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }

  nav ul li a {
    color: #06668C;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }

  a.active,
  a:hover {
    color: #679436 !important;
    transition: .5s;
  }

  .checkbtn {
    font-size: 30px;
    color: #06668C;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  #check {
    display: none;
  }

  @media (max-width: 952px) {
    label.logo {
      font-size: 30px;
      padding-left: 50px;
    }

    nav ul li a {
      font-size: 16px;
    }
  }

  @media (max-width: 858px) {
    .checkbtn {
      display: block;
    }

    ul {
      border-top: solid 3px #06668C;
      border-bottom: solid 3px #eee;
      z-index: 1;
      position: fixed;
      width: 100%;
      background: #EBF2FA;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }

    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }

    nav ul li a {
      font-size: 20px;
    }

    a.active,
    a:hover {
      color: #679436 !important;
      transition: .5s;
    }

    #check:checked~ul {
      left: 0;
    }
  }
}