.diplomesfutur{
    padding:15px;
    border: solid 3px #6D071A;
    border-radius: 5px;
    margin-bottom: 8px;
}

.diplomes{
    padding:15px;
    border: solid 3px #06668C;
    border-radius: 5px;
    margin-bottom: 8px;
}