.presentationdiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
#pagebase{
    min-height: 510px;
}
#pagedessous{
    flex-direction: column;
}
.divinfo{
  display: flex;
    flex-direction: column;
    gap: 5px;
    width: 35%;
}
iframe{
    border: solid 5px #427AA1;
    border-radius: 10px;
}
.divvideo{
    width: 100%;
    text-align: center;
    margin: 15px 0 15px 0;
}
.divliens{
    display: flex;
    width: 95%;
    justify-content: space-around;
    padding:15px;
    margin-bottom: 20px;
    border-bottom:solid 2px #427AA1;
}
.logolien{
    width:60px;
    padding-right: 10px;
}
.logofleche{
  width: 4%;
}
.lienbutton{
    text-transform: uppercase;
}
.lienbutton:hover{
    color: #679436 !important;
    transition: .5s;
}

@media (max-width: 858px) {
  .presentationdiv{
    flex-direction: column;
  }
  .divinfo{
    width: 90%;
  }
  .divliens{
    flex-direction: column;
    align-items: center;
  }
  .logofleche{
    width: 10%;
    padding: 5px;
  }
  iframe{
    width: 100%;
  }
}

/* CSS */
.button-30 {
  align-items: center;
  margin-bottom: 15px;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* CSS */
.button-74 {
  background-color: #EBF2FA;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}