.presentationdiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
#pagebase{
    min-height: 510px;
}
#pagedessous{
    flex-direction: column;
}
.divinfo{
  display: flex;
    flex-direction: column;
    gap: 5px;
    width: 35%;
}
iframe{
    border: solid 5px #427AA1;
    border-radius: 10px;
}
.divvideo{
    width: 100%;
    text-align: center;
    margin: 15px 0 15px 0;
}
.divliens{
    display: flex;
    width: 95%;
    justify-content: space-around;
    padding:15px;
    margin-bottom: 20px;
    border-bottom:solid 2px #427AA1;
}
.logolien{
    width:60px;
    padding-right: 10px;
}
.logofleche{
  width: 4%;
}
.lienbutton{
    text-transform: uppercase;
}
.lienbutton:hover{
    color: #679436 !important;
    transition: .5s;
}

@media (max-width: 858px) {
  .presentationdiv{
    flex-direction: column;
  }
  .divinfo{
    width: 90%;
  }
  .divliens{
    flex-direction: column;
    align-items: center;
  }
  .logofleche{
    width: 10%;
    padding: 5px;
  }
  iframe{
    width: 100%;
  }
}