/*
Couleur : 
Bleu foncé : #06668C
Bleu clair : #427AA1
Bleu blanc : #EBF2FA	
Vert foncé : #679436
Vert clair : #A4BD01
*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

h1 {
    font-family: 'Quicksand' !important;
}

html,
body {
    font-family: 'Mulish' !important;
}

main{
    min-height: 465px;
}

.photo{
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 2px #eee;
}